{% block content %}
<div class="password-reset-confirmation">
  <h1 class="password-reset-heading">Reset your password</h1>
  <p class="password-reset-text">We've emailed you instructions for setting your password.</p>
  <p class="password-reset-text">If you don't receive an email, please make sure you've entered the address you registered with.</p>
</div>
<style>
    .password-reset-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.password-reset-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.password-reset-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

</style>
{% endblock %}
