{% block content %}
<div class="password-reset-form">
  <h1 class="password-reset-heading">Reset your password</h1>
  <p class="password-reset-description">Enter your e-mail address to obtain a new password.</p>
  <form class="password-reset-form" action="." method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="password-reset-field">
        <label for= >{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
          <small class="password-reset-help">{{ field.help_text }}</small>
        {% endif %}
      </div>
    {% endfor %}
    <button class="password-reset-submit" type="submit">Send e-mail</button>
  </form>
</div>
<style>
    .password-reset-form {
  max-width: 500px;
  margin: 0 auto;
}

.password-reset-heading {
    padding-top:100px;
  font-size: 2em;
  text-align: center;
}

.password-reset-description {
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

.password-reset-field {
  margin-bottom: 1em;
}

.password-reset-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.password-reset-field input[type="email"] {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0.3em;
  border: 1px solid #ccc;
}

.password-reset-help {
  display: block;
  margin-top: 0.5em;
  font-size: 0.8em;
  color: #999;
}

.password-reset-submit {
  display: block;
  margin-top: 1.5em;
  padding: 0.5em 1em;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.password-reset-submit:hover {
  background-color: #0069d9;
}

</style>
{% endblock %}
